<h1>Sigh in</h1>

<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="enter your name">
    <input type="email" name="email" placeholder="enter your email">
    <input type="password" name="password" placeholder="enter password">
    <input type="password" name="conform_password" placeholder="conform password">
    <input type="submit" value="Sigh-up">
</form>

<p><a href="/user/auth/google">sign in with google</a></p>