body{
    text-align: center;
    background-color: blueviolet;
}
#head{
    color: brown;
}
ul{
    /* display: flex; */
    list-style-type: none;
}
header ul{
    display: flex;
    margin: 0px 0px 0px  1150px;
}

header ul li{
    margin: 0px 10px;
}
header{
    font-size: larger;

    font-weight: bolder;
    display: flex;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    margin: 0px 100px;
}
#div1{
    border-right: 5px black solid;
    /* border-top-left-radius: 10px black solid; */
}
#user-chat-box{
    border: 2px solid black;
    width: 300px;
    min-height: 300px;
    /* margin: px 0 0 80%; */
    background-color: antiquewhite;
    color: antiquewhite;
    /* position: fixed; */
}
.other-message{
    min-height: 10ox;
    max-width: 150px;
    background-color: brown;
    margin: 10px 0 10px -30px;
}
.self-message{
    min-height: 10ox;
    max-width: 150px;
    background-color: rgb(60, 30, 142);
    margin: 10px 0 0 40%;
}
#user-chat-list{
    width: 80%;
    height: 270px;
    border: 1px black dotted;
    margin: 0 0 0 10px;
    overflow:auto
} 